


.animate-slide{
animation: slide 16s infinite;
}

@keyframes slide {
0%,25% { transform: translateY(0); }

33%,58% { transform: translateY(-16px); }

66%,91% { transform: translateY(-32px); }

100% { transform: translateY(0); }
}

@media (min-width:768px){
@keyframes slide {
0%,25% { transform: translateY(0); }

33%,58% { transform: translateY(-32px); }

66%,91% { transform: translateY(-64px); }

100% { transform: translateY(0); }
}
}

 
