

 
.font-darker {
    font-family: "Darker Grotesque", sans-serif;
}
 
.font-dm {
    font-family: "DM Sans", sans-serif;
}
 
 
.pulse-divider {
    height: 1px;
    background: #ffffff80;
    animation: pulse 2s infinite;
}
 
@keyframes pulse {
    0% {
        transform: scaleX(1)
    }
 
    50% {
        transform: scaleX(.85)
    }
 
    100% {
        transform: scaleX(1)
    }
}
 
.marquee {
    display: flex;
    width: max-content;
    animation: marquee 8s linear infinite;
}
 
@keyframes marquee {
    0% {
        transform: translateX(0);
    }
 
    100% {
        transform: translate(-40%);
    }
}
 