

.font-darker{
    font-family: "Darker Grotesque", sans-serif;
}
.font-dm{
    font-family: "DM Sans", sans-serif;
}
.animate-slide{
animation: slide 9s infinite;
}

@keyframes slide {
0%,25% { transform: translateY(0); }

33%,58% { transform: translateY(-16px); }

66%,91% { transform: translateY(-32px); }

100% { transform: translateY(0); }
}

@media (min-width:768px){
@keyframes slide {
0%,25% { transform: translateY(0); }

33%,58% { transform: translateY(-32px); }

66%,91% { transform: translateY(-64px); }

100% { transform: translateY(0); }
}
}
