.pulse-divider {
    height: 1px;
    background: #ffffff80;
    animation: pulse 2s infinite;
}

@keyframes pulse {
    0% {
        transform: scaleX(1)
    }

    50% {
        transform: scaleX(.85)
    }

    100% {
        transform: scaleX(1)
    }
}

.marquee {
    display: flex;
    width: max-content;
    animation: marquee 18s linear infinite;
}

@keyframes marquee {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}