<section class=" py-12">
  <div class="max-w-[1440px] mx-auto px-4 md:px-8 lg:px-12 xl:px-20 text-center">
    
    <h2 class="text-[#1F2A44] text-[40px] font-bold mb-10">Explore by Topic</h2>

    <div class="relative">
      
      <!-- GRID CONTAINER -->
      <div id="exploreTopics"
  class="grid grid-cols-2 lg:grid-cols-4 gap-3 md:gap-6">
</div>

    </div>

    <button
     onclick="window.location.href='all-topics.html'"
      class="mt-6 bg-[#C9A227] text-white py-[12px] px-[16px] text-xs lg:text-base lg:px-[30px] lg:py-[15px] rounded-[10px] font-dm font-semibold cursor-pointer">
      View All Topics
    </button>

  </div>
</section>

<template id="exploreTemplate">
  <a
    class="topic-card w-full h-[225px] relative rounded-[20px] overflow-hidden group block">

    <img class="topic-image w-full h-full object-cover transition duration-700 group-hover:scale-110" />

    <div class="absolute inset-0 bg-gradient-to-t from-[#1F2A44] via-[#1F2A44]/30 to-transparent"></div>

    <div class="topic-title absolute bottom-6 left-0 right-0 text-white text-2xl font-bold text-center"></div>

  </a>
</template>