<!DOCTYPE html>
<html lang="en">
 
<head>
    <link rel="stylesheet" href="/css/footer.css">
</head>
 
 
<body class="min-h-screen flex flex-col m-0">
 
    <section class="w-full bg-[#C9A227] py-10 overflow-hidden">
 
        <div id="marquee-track" class="marquee flex whitespace-nowrap w-max">
 
            <div class="flex items-center gap-5 pr-5">
 
                <div class="flex items-center gap-[15px]">
                    <span class="w-[15px] h-[15px] bg-[#333333] rounded-full"></span>
                    <span class="text-[20px] md:text-[25px] font-bold text-[#333333]" style="font-family:'DM Sans'">
                        EXPLORE DEVOTIONS
                    </span>
                </div>
 
                <div class="flex items-center gap-[15px]">
                    <span class="w-[15px] h-[15px] bg-[#333333] rounded-full"></span>
                    <span class="text-[20px] md:text-[25px] font-bold text-[#333333]" style="font-family:'DM Sans'">
                        EXPLORE DEVOTIONS
                    </span>
                </div>
 
                <div class="flex items-center gap-[15px]">
                    <span class="w-[15px] h-[15px] bg-[#333333] rounded-full"></span>
                    <span class="text-[20px] md:text-[25px] font-bold text-[#333333]" style="font-family:'DM Sans'">
                        EXPLORE DEVOTIONS
                    </span>
                </div>
 
            </div>
 
            <div class="flex items-center gap-5 pr-5">
 
                <div class="flex items-center gap-[15px]">
                    <span class="w-[15px] h-[15px] bg-[#333333] rounded-full"></span>
                    <span class="text-[20px] md:text-[25px] font-bold text-[#333333]" style="font-family:'DM Sans'">
                        EXPLORE DEVOTIONS
                    </span>
                </div>
 
                <div class="flex items-center gap-[15px]">
                    <span class="w-[15px] h-[15px] bg-[#333333] rounded-full"></span>
                    <span class="text-[20px] md:text-[25px] font-bold text-[#333333]" style="font-family:'DM Sans'">
                        EXPLORE DEVOTIONS
                    </span>
                </div>
 
                <div class="flex items-center gap-[15px]">
                    <span class="w-[15px] h-[15px] bg-[#333333] rounded-full"></span>
                    <span class="text-[20px] md:text-[25px] font-bold text-[#333333]" style="font-family:'DM Sans'">
                        EXPLORE DEVOTIONS
                    </span>
                </div>
 
            </div>
 
            <div class="flex items-center gap-5 pr-5">
 
                <div class="flex items-center gap-[15px]">
                    <span class="w-[15px] h-[15px] bg-[#333333] rounded-full"></span>
                    <span class="text-[20px] md:text-[25px] font-bold text-[#333333]" style="font-family:'DM Sans'">
                        EXPLORE DEVOTIONS
                    </span>
                </div>
 
                <div class="flex items-center gap-[15px]">
                    <span class="w-[15px] h-[15px] bg-[#333333] rounded-full"></span>
                    <span class="text-[20px] md:text-[25px] font-bold text-[#333333]" style="font-family:'DM Sans'">
                        EXPLORE DEVOTIONS
                    </span>
                </div>
 
                <div class="flex items-center gap-[15px]">
                    <span class="w-[15px] h-[15px] bg-[#333333] rounded-full"></span>
                    <span class="text-[20px] md:text-[25px] font-bold text-[#333333]" style="font-family:'DM Sans'">
                        EXPLORE DEVOTIONS
                    </span>
                </div>
 
            </div>
 
        </div>
 
    </section>
 
    <footer class="w-full bg-[#1C1C1C] text-white pt-20 pb-6">
 
        <div class="max-w-[1440px] mx-auto px-6 md:px-12 lg:px-[60px] xl:px-20">
 
            <div class="grid lg:grid-cols-2 gap-[35px] lg:gap-[184px]">
 
 
                <!-- LEFT -->
                <div>
 
                    <h2 class="font-extrabold text-[45px] md:text-[55px] leading-[1.1]"
                        style="font-family:'Darker Grotesque'">
                        Receive Weekly<br>Devotionals
                    </h2>
 
                    <p class="mt-5 text-[14px] md:text-[18px] font-medium">
                        Get faith-filled articles and Bible reflections delivered to your inbox.
                    </p>
 
 
                    <!-- EMAIL -->
                    <div class="flex gap-[15px] items-start mt-8">
 
                        <svg class="flex-shrink-0 w-6 h-6 md:w-8 md:h-8 lg:w-8 lg:h-8" viewBox="0 0 24 20" fill="none">
                            <path
                                d="M23.0262 10.8435L14.5887 19.281C14.3245 19.5451 13.9662 19.6935 13.5926 19.6935C13.219 19.6935 12.8607 19.5451 12.5965 19.281C12.3323 19.0168 12.1839 18.6585 12.1839 18.2849C12.1839 17.9113 12.3323 17.5529 12.5965 17.2888L18.6328 11.2548H1.40625C1.03329 11.2548 0.675604 11.1066 0.411881 10.8429C0.148158 10.5792 0 10.2215 0 9.84853C0 9.47557 0.148158 9.11789 0.411881 8.85416C0.675604 8.59044 1.03329 8.44228 1.40625 8.44228H18.6328L12.5988 2.40478C12.3346 2.1406 12.1862 1.7823 12.1862 1.40869C12.1862 1.03508 12.3346 0.676776 12.5988 0.412595C12.863 0.148415 13.2213 3.93659e-09 13.5949 0C13.9685 -3.9366e-09 14.3268 0.148415 14.591 0.412595L23.0285 8.85009C23.1596 8.98092 23.2636 9.13635 23.3345 9.30748C23.4054 9.4786 23.4418 9.66204 23.4415 9.84726C23.4413 10.0325 23.4045 10.2158 23.3332 10.3868C23.262 10.5578 23.1576 10.7129 23.0262 10.8435Z"
                                fill="white" />
                        </svg>
 
                        <a href="mailto:johat10153@yahoo.com" class="underline text-[16px] md:text-[22px] font-medium">
                            johat10153@yahoo.com
                        </a>
 
                    </div>
 
                    <div class="flex gap-[15px] items-start mt-8">
 
                        <svg class="flex-shrink-0 w-6 h-6 md:w-8 md:h-8 lg:w-8 lg:h-8" viewBox="0 0 24 20" fill="none">
                            <path
                                d="M23.0262 10.8435L14.5887 19.281C14.3245 19.5451 13.9662 19.6935 13.5926 19.6935C13.219 19.6935 12.8607 19.5451 12.5965 19.281C12.3323 19.0168 12.1839 18.6585 12.1839 18.2849C12.1839 17.9113 12.3323 17.5529 12.5965 17.2888L18.6328 11.2548H1.40625C1.03329 11.2548 0.675604 11.1066 0.411881 10.8429C0.148158 10.5792 0 10.2215 0 9.84853C0 9.47557 0.148158 9.11789 0.411881 8.85416C0.675604 8.59044 1.03329 8.44228 1.40625 8.44228H18.6328L12.5988 2.40478C12.3346 2.1406 12.1862 1.7823 12.1862 1.40869C12.1862 1.03508 12.3346 0.676776 12.5988 0.412595C12.863 0.148415 13.2213 3.93659e-09 13.5949 0C13.9685 -3.9366e-09 14.3268 0.148415 14.591 0.412595L23.0285 8.85009C23.1596 8.98092 23.2636 9.13635 23.3345 9.30748C23.4054 9.4786 23.4418 9.66204 23.4415 9.84726C23.4413 10.0325 23.4045 10.2158 23.3332 10.3868C23.262 10.5578 23.1576 10.7129 23.0262 10.8435Z"
                                fill="white" />
                        </svg>
 
                        <a href="tel:2314596853" class="text-[16px] md:text-[22px] font-medium underline">
                            Phone: 2314596853
                        </a>
 
                    </div>
 
 
                    <!-- ADDRESS -->
                    <div class="flex gap-[15px] items-start mt-8">
 
                        <svg class="flex-shrink-0 w-6 h-6 md:w-8 md:h-8 lg:w-8 lg:h-8" viewBox="0 0 24 20" fill="none">
                            <path
                                d="M23.0262 10.8435L14.5887 19.281C14.3245 19.5451 13.9662 19.6935 13.5926 19.6935C13.219 19.6935 12.8607 19.5451 12.5965 19.281C12.3323 19.0168 12.1839 18.6585 12.1839 18.2849C12.1839 17.9113 12.3323 17.5529 12.5965 17.2888L18.6328 11.2548H1.40625C1.03329 11.2548 0.675604 11.1066 0.411881 10.8429C0.148158 10.5792 0 10.2215 0 9.84853C0 9.47557 0.148158 9.11789 0.411881 8.85416C0.675604 8.59044 1.03329 8.44228 1.40625 8.44228H18.6328L12.5988 2.40478C12.3346 2.1406 12.1862 1.7823 12.1862 1.40869C12.1862 1.03508 12.3346 0.676776 12.5988 0.412595C12.863 0.148415 13.2213 3.93659e-09 13.5949 0C13.9685 -3.9366e-09 14.3268 0.148415 14.591 0.412595L23.0285 8.85009C23.1596 8.98092 23.2636 9.13635 23.3345 9.30748C23.4054 9.4786 23.4418 9.66204 23.4415 9.84726C23.4413 10.0325 23.4045 10.2158 23.3332 10.3868C23.262 10.5578 23.1576 10.7129 23.0262 10.8435Z"
                                fill="white" />
                        </svg>
 
                        <a href="https://maps.app.goo.gl/x8KZiTNB8iUK2w7B7" target="_blank"
                            class="text-[16px] md:text-[22px] font-medium underline">
                            3975 Pulverwoods Rd, Williamsburg, MI 49690, USA
                        </a>
 
                    </div>
 
 
                    <p class="text-[#FFFFFF80] text-[18px] mt-8">(Connect with us)</p>
 
 
                    <ul class="mt-3 space-y-2">
 
                        <li>
                            <a href="#"
                                class="text-[16px] md:text-[20px] font-medium transition-all duration-300 hover:translate-x-2 inline-block">
                                Facebook
                            </a>
                        </li>
 
                        <li>
                            <a href="#"
                                class="text-[16px] md:text-[20px] font-medium transition-all duration-300 hover:translate-x-2 inline-block">
                                Twitter
                            </a>
                        </li>
 
                        <li>
                            <a href="#"
                                class="text-[16px] md:text-[20px] font-medium transition-all duration-300 hover:translate-x-2 inline-block">
                                Instagram
                            </a>
                        </li>
 
                    </ul>
 
                </div>
 
 
 
                <!-- RIGHT FORM -->
                <div>
 
                    <form id="subscribeForm" class="space-y-5">
 
                        <div>
                            <label class="block font-semibold text-[16px] md:text-[18px]"
                                style="font-family:'DM Sans'">Name</label>
                            <input required type="text" placeholder="Your Name"
                                class="w-full bg-[#141414] rounded-[10px] px-5 py-5 mt-2 placeholder:text-[#FFFFFF80] outline-none">
                        </div>
 
                        <div>
                            <label class="block font-semibold text-[16px] md:text-[18px]"
                                style="font-family:'DM Sans'">Email
                                Address</label>
                            <input required type="email" placeholder="Enter your email"
                                class="w-full bg-[#141414] rounded-[10px] px-5 py-5 mt-2 placeholder:text-[#FFFFFF80] outline-none">
                        </div>
 
                        <div>
                            <label class="block font-semibold text-[16px] md:text-[18px]" style="font-family:'DM Sans'">
                                Phone Number
                            </label>
 
                            <input required type="tel" inputmode="numeric" pattern="[0-9]*"
                                placeholder="Enter your phone" oninput="this.value=this.value.replace(/[^0-9]/g,'')"
                                class="w-full bg-[#141414] rounded-[10px] px-5 py-5 mt-2 placeholder:text-[#FFFFFF80] outline-none">
                        </div>
 
                        <div>
                            <label class="block font-semibold text-[16px] md:text-[18px]"
                                style="font-family:'DM Sans'">Interest</label>
                            <select required class="w-full bg-[#141414] rounded-[10px] px-5 py-5 mt-2 outline-none">
                                <option value="">Select Interest</option>
                                <option>Bible Study</option>
                                <option>Devotionals</option>
                                <option>Prayer</option>
                            </select>
                        </div>
 
 
                        <button type="submit"
                            class="bg-[#C9A227] px-[30px] py-[15px] rounded-[10px] text-white font-semibold text-[16px] transition-all hover:bg-transparent hover:border hover:border-[#C9A227] hover:text-[#C9A227]">
                            Subscribe Now
                        </button>
 
                        <p id="thankMessage" class="text-green-400"></p>
 
                    </form>
 
                </div>
 
            </div>
 
 
            <div class="pulse-divider my-5"></div>
 
 
            <div class="flex flex-col md:flex-row justify-between gap-2 text-[16px] mt-5" style="font-family:'DM Sans'">
 
                <p>© 2026 PSITOPS. All Rights Reserved.</p>
 
                <div>
                    <a href="#" class="hover:underline">Privacy Policy</a>
                    <span class="mx-2">|</span>
                    <a href="#" class="hover:underline">Terms of Use</a>
                </div>
 
            </div>
 
        </div>
 
    </footer>
 
    <!-- <Script src="footer.js"></Script> -->
    <script src="/js/marque.js"></script>
 
</body>
 
</html>
 