<header class="absolute top-0 z-50 w-full  py-4 ">
  <div class=" mx-auto max-w-[1440px] ">
    <div class="flex items-center justify-between px-6 md:px-12 lg:px-20 ">
    <div class="font-darker text-5xl font-bold tracking-tight text-white leading-none">
      psitpops
    </div>

    <!-- Navigation -->
    <nav
      class="hidden rounded-[10px] bg-white/10 p-[10px] backdrop-blur-md md:flex items-center gap-4 xl:gap-12 lg:gap-8 md:gap-6">
      <a href="#"
        class="rounded-[10px] bg-white/20 px-[20px] py-[10px] text-base font-medium text-white transition-all leading-none">Home</a>
      <a href="#"
        class="px-[20px] py-[10px] text-base font-medium text-white/80 hover:text-white leading-none">About</a>
      <a href="#" class="px-[20px] py-[10px] text-base font-medium text-white/80 hover:text-white leading-none">Blog</a>
      <a href="#"
        class="px-[20px] py-[10px] text-base font-medium text-white/80 hover:text-white leading-none">Contact</a>
    </nav>

    <!-- Buttons -->
    <div class="flex items-center gap-3">
      <button
        class="flex h-13 w-13 items-center justify-center rounded-lg bg-white text-slate-900 transition hover:bg-slate-100">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" viewBox="0 0 256 256">
          <path
            d="M229.66,218.34l-50.07-50.06a88.11,88.11,0,1,0-11.31,11.31l50.06,50.07a8,8,0,0,0,11.32-11.32ZM40,112a72,72,0,1,1,72,72A72.08,72.08,0,0,1,40,112Z">
          </path>
        </svg>
      </button>
      <button
        class="rounded-lg bg-[#C5A02E] px-[30px] py-[15px] text-base font-semibold text-white transition-opacity hover:opacity-90">
        Subscribe
      </button>
    </div>
  </div>
  </div>
</header>