<section class="relative h-auto lg:h-[579px] w-full bg-slate-900">
    <div class="absolute inset-0 z-0">
        <img src="/images/about_banne.webp" alt="Faith Background" class="h-full w-full object-cover" />
        <div class="absolute inset-0 bg-black/40"></div> </div>

    <div class="relative z-10 mx-auto flex flex-col justify-center px-4 py-16 sm:px-6 md:px-8 lg:px-12 lg:h-full lg:max-w-[1440px] lg:py-0 xl:px-20">
        <div class="max-w-4xl">
            <h1 class="font-darker text-[36px] font-bold leading-[1.1] text-white md:text-[60px] lg:text-[75px]">
                Sharing God's
                <br />
                Word with the World
            </h1>

            <p class="mt-5 text-[16px] md:text-[20px] leading-relaxed text-white/90">
                Encouraging faith, inspiring devotion, and helping believers 
                <br class="hidden sm:block" />
                grow through meaningful biblical reflections.
            </p>

            <p class="mt-4 text-[15px] md:text-[16px] font-normal leading-relaxed text-white/90">
                At <span class="font-bold">PSITPOPS</span>, we believe that the Word of God has the power to transform lives.
                <br class="hidden lg:block" />
                Our mission is to share thoughtful articles, devotionals, and reflections that help 
                <br class="hidden lg:block" />
                readers grow closer to God and strengthen their daily walk of faith.
            </p>
        </div>
    </div>
</section>