<section id="faith" class="w-full bg-[#F7F4EF] overflow-hidden">

    <div class="max-w-[1440px] mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-20">

        <div class="flex flex-col lg:flex-row items-center lg:items-start gap-[40px] lg:gap-[70px]">

            <!-- LEFT CONTENT -->
            <div class="w-full lg:w-[65%] pt-[80px] lg:pt-[135px] pb-[20px] lg:pb-[168px] text-left">

                <!-- Heading -->
                <h3 class="text-[#1F2A44] font-bold font-darker leading-[1.05]
               text-[42px] md:text-[72px] lg:text-[80px] xl:text-[119px]">

                    Join Our Faith <br class="hidden md:block">
                    Community

                </h3>

                <!-- Description -->
                <p class="mt-6 text-[#333333] text-[15px] max-w-[700px]">
                    We invite you to explore our articles, reflect on Scripture, and grow with us in faith.
                    Whether you are seeking encouragement, understanding, or spiritual guidance,
                    PSITPOPS is here to support your journey.
                </p>

                <!-- Button -->
                <div class="mt-8">
                    <a href="all-blogs.html"
                        class="neon-border-btn inline-block text-white text-[17px] font-semibold px-8 py-4 rounded-[12px] relative overflow-hidden">
                        Explore Articles
                    </a>
                </div>

            </div>


            <!-- RIGHT IMAGE -->
            <div class="w-full lg:w-[57%] xl:w-[35%] flex justify-center lg:justify-end relative pt-[30px]">
                <!-- Image -->
                <div class="relative bottom-[-59px]">
                    <img src="/images/cross.png" alt="Faith"
                        class="w-[260px] md:w-[579px] md:h-[700px]  lg:w-[500px] lg:h-[700px] h-[490px] xl:h-[720px] object-cover">
                </div>

            </div>

        </div>

    </div>

</section>