<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/announcement.css">
    <link rel="stylesheet" href="/css/about.css">
    <link rel="stylesheet" href="/css/index.css">
</head>

<body>
    <section class="w-full bg-[#1F2A44]">
        <div class="max-w-[1440px] mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-20 py-20 ">

            <!-- Heading -->
            <h2 class="text-center text-white font-bold text-[36px] md:text-[45px] lg:text-[55px] font-darker">
                What You Will Find on PSITPOPS
            </h2>

            <p class="text-center text-white mt-4 text-[18px] md:text-[18px] font-medium max-w-[750px] mx-auto">
                Our content focuses on helping readers grow spiritually and understand God's Word.
            </p>


            <!-- Center Layout -->
            <div class="relative flex flex-col md:flex-row justify-center items-center mt-10 lg:mt-20 px-0 lg:px-4 gap-10 lg:gap-0">
<div class="flex gap-2">
                <div
                    class="lg:absolute lg:left-[5px] lg:top-[-23px] xl:left-[40px] xl:top-[5px] flex flex-col-reverse lg:flex-row items-center gap-5 text-center lg:text-right">
                    <div class="max-w-[202px]">
                        <h4 class="text-white text-base lg:text-[18px] xl:text-[25px] font-bold font-darker">
                            Prayer & Devotionals
                        </h4>
                        <p class="text-white text-[12px] lg:text-[14px] xl:text-[16px]">
                            Guidance and reflections to deepen your prayer life and spiritual connection.
                        </p>
                    </div>
                    <div
                        class="w-[70px] h-[70px] xl:w-[85px] xl:h-[85px] bg-[#C9A227] flex items-center justify-center rounded-lg">
                        <img src="/images/icon1.png" class="w-[60px] h-[60px] lg:w-[70px] lg:h-[70px] object-contain">
                    </div>
                </div>

                <div
                    class="lg:absolute lg:right-[3px] lg:top-[-23px] xl:right-[40px] xl:top-[-18px] flex flex-col lg:flex-row items-center gap-5 text-center lg:text-left">
                    <div
                        class="w-[70px] h-[70px] xl:w-[85px] xl:h-[85px] bg-[#C9A227] flex items-center justify-center rounded-lg">
                        <img src="/images/icon2.png" class="w-[60px] h-[60px] lg:w-[70px] lg:h-[70px] object-contain">
                    </div>
                    <div class="max-w-[202px]">
                        <h4 class="text-white text-base lg:text-[18px] xl:text-[25px] font-bold font-darker">
                            Faith & Encouragement
                        </h4>
                        <p class="text-white text-[12px] lg:text-[14px] xl:text-[16px]">
                            Articles that inspire hope and strengthen trust in God's promises.
                        </p>
                    </div>
                </div>
</div>
                <div
                    class="relative flex items-center justify-center md:w-[250px] md:h-[250px] lg:w-[350px] lg:h-[350px] xl:w-[374px] xl:h-[370px] border-2 border-dashed border-[#C9A227] rounded-full shrink-0">
                    <div
                        class="md:w-[250px] md:h-[250px] lg:w-[350px] lg:h-[350px] xl:w-[360px] xl:h-[365px] rounded-full overflow-hidden">
                        <img src="/images/zesus.png" class="w-full h-full object-cover">
                    </div>
                </div>
<div class="flex gap-2">
                <div
                    class="lg:absolute lg:left-[5px] lg:bottom-[-17px] xl:left-[40px] xl:bottom-[4px] flex flex-col-reverse lg:flex-row items-center gap-5 text-center lg:text-right">
                    <div class="max-w-[202px]">
                        <h4 class="text-white text-base lg:text-[18px] xl:text-[25px] font-bold font-darker">
                            Bible Study Insights
                        </h4>
                        <p class="text-white text-[12px] lg:text-[14px] xl:text-[16px]">
                            Clear explanations of scripture passages and their meaning for everyday life.
                        </p>
                    </div>
                    <div
                        class="w-[70px] h-[70px] xl:w-[85px] xl:h-[85px] bg-[#C9A227] flex items-center justify-center rounded-lg">
                        <img src="/images/icon3.png" class="w-[60px] h-[60px] lg:w-[70px] lg:h-[70px] object-contain">
                    </div>
                </div>

                <div
                    class="lg:absolute lg:right-[25px] lg:bottom-[-17px] xl:right-[60px] xl:bottom-[10px] flex flex-col lg:flex-row items-center gap-5 text-center lg:text-left">
                    <div
                        class="w-[70px] h-[70px] xl:w-[85px] xl:h-[85px] bg-[#C9A227] flex items-center justify-center rounded-lg">
                        <img src="/images/icon4.png" class="w-[60px] h-[60px] lg:w-[70px] lg:h-[70px] object-contain">
                    </div>
                    <div class="max-w-[180px]">
                        <h4 class="text-white text-base lg:text-[18px] xl:text-[25px] font-bold font-darker">
                            Christian Living
                        </h4>
                        <p class="text-white text-[12px] lg:text-[14px] xl:text-[16px]">
                            Practical advice on living a Christ-centered life in today's world.
                        </p>
                    </div>
                </div>
                </div>

                <svg class="hidden lg:block  absolute left-[302px] top-[20px] xl:left-[342px] xl:top-[60px] connector" width="115"
                    height="85" viewBox="0 0 197 135" fill="none">
                    <path
                        d="M197 134H115.01C103.964 134 95.0098 125.046 95.0098 114V21C95.0098 9.95431 86.0555 1 75.0098 1H0"
                        stroke="#C9A227" stroke-width="2" stroke-dasharray="20 20" />
                </svg>

                <svg class=" hidden lg:block absolute right-[302px] top-[20px] xl:right-[342px] xl:top-[60px] connector" width="115"
                    height="85" viewBox="0 0 196 135" fill="none">
                    <path
                        d="M0 134H81.9902C93.0359 134 101.99 125.046 101.99 114V21C101.99 9.95431 110.945 1 121.99 1H196"
                        stroke="#C9A227" stroke-width="2" stroke-dasharray="20 20" />
                </svg>

                <svg class="hidden lg:block  absolute left-[302px] bottom-[60px] xl:left-[342px] xl:bottom-[60px] connector" width="115"
                    height="85" viewBox="0 0 198 135" fill="none">
                    <path
                        d="M198 1H115.01C103.964 1 95.0098 9.9543 95.0098 21V114C95.0098 125.046 86.0555 134 75.0098 134H0"
                        stroke="#C9A227" stroke-width="2" stroke-dasharray="20 20" />
                </svg>

                <svg class="hidden lg:block  absolute right-[302px] bottom-[60px] xl:right-[342px] xl:bottom-[60px] connector" width="115"
                    height="85" viewBox="0 0 197 135" fill="none">
                    <path
                        d="M0 1H82.9902C94.0359 1 102.99 9.9543 102.99 21V114C102.99 125.046 111.945 134 122.99 134H197"
                        stroke="#C9A227" stroke-width="2" stroke-dasharray="20 20" />
                </svg>

            </div>

        </div>
    </section>
</body>

</html>