<section id="mission" class="w-full bg-[#F7F4EF] relative  overflow-hidden">
    <div
        class="max-w-[1440px] mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-20 py-20  flex flex-col lg:flex-row items-center gap-[23px]">

        <!-- Image -->
        <div class="w-full lg:w-[450px] xl:w-[630px] flex-shrink-0">
            <img src="/images/missio.webp" alt="Our Mission"
                class="floating-img w-full h-auto xl:h-[379px] object-cover rounded-[20px]">
        </div>

        <!-- Text Content -->
        <div class="w-full lg:max-w-[612px]">

            <h2 class="text-[#1F2A44] font-bold font-darker text-[36px] md:text-[45px] lg:text-[55px] leading-tight">
                Our Mission
            </h2>

            <p class="mt-[20px] text-[16px] text-[#333333] leading-relaxed">

                Our mission is simple: to share biblical wisdom in a way that encourages,
                strengthens, and inspires believers in their daily lives. Through carefully
                written articles and devotionals, we aim to help readers understand Scripture
                more deeply and apply its truths to everyday situations.
                <br><br>
                We strive to create content that brings hope, clarity, and spiritual growth
                to those seeking a stronger relationship with God.

            </p>

        </div>

    </div>
</section>