<section id="Scripture" class="w-full relative overflow-hidden bg-cover"
    style="background-image: url('/images/scriptur.webp');">

    <div class="max-w-[1440px] mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-20 py-20  text-center">

        <!-- Heading with Lines -->
        <div class="flex items-center justify-center gap-4 md:gap-6">

            <!-- Left Line -->
            <img src="/images/Rectangle 45.png" class="w-[120px] md:w-[180px] lg:w-[217px] h-[5px] object-contain">

            <!-- Heading -->
            <h2 class="text-[#C9A227] font-bold text-[28px] md:text-[40px] lg:text-[55px] whitespace-nowrap font-darker">
                Our Foundation is Scripture
            </h2>

            <!-- Right Line -->
            <img src="/images/Rectangle 44.png" class="w-[120px] md:w-[180px] lg:w-[217px] h-[5px] object-contain">

        </div>


        <!-- Decorative Image -->
        <div class="flex justify-center">
            <img src="/images/Group 5.png" class="w-[260px] md:w-[380px] lg:w-[504px] h-auto object-contain">
        </div>


        <!-- Quote -->
        <p class="mt-10 md:mt-[18px] text-[#1F2A44] italic font-medium text-[22px] md:text-[32px] lg:text-[45px] leading-relaxed max-w-[850px] mx-auto">

            “All Scripture is God-breathed and is useful for teaching, rebuking,
            correcting and training in righteousness.”

        </p>


        <!-- Reference -->
        <p class="mt-6 text-[#C9A227] font-bold text-[16px] md:text-[20px] lg:text-[25px]">

            — 2 Timothy 3:16 —

        </p>

    </div>
</section>