<section id="vision" class="w-full bg-[#F7F4EF] relative overflow-hidden">
    <div
        class="max-w-[1440px] mx-auto px-4 sm:px-6 md:px-8 lg:px-12 xl:px-20 py-20 flex flex-col lg:flex-row items-center gap-[23px]">

        <!-- Text Content -->
        <div class="w-full lg:max-w-[612px]">

            <h2 class="text-[#1F2A44] font-bold font-darker text-[36px] md:text-[45px] lg:text-[55px] leading-tight">
                Our Vision
            </h2>

            <p class="mt-[20px] text-[15px] text-[#333333] leading-relaxed">

                Our vision is to build a community of believers who are encouraged and strengthened by God's Word. We
                want PSITPOPS to be a place where readers can find inspiration, guidance, and spiritual encouragement in
                every season of life.
                <br><br>
                By sharing biblical insights and devotionals, we hope to inspire people around the world to grow in
                faith and live according to the teachings of Christ.

            </p>

        </div>

        <!-- Image -->
        <div class="w-full lg:w-[450px] xl:w-[630px] flex-shrink-0">
            <img src="/images/visio.webp" alt="Our Mission"
                class="floating-img w-full h-auto xl:h-[379px] object-cover rounded-[20px]">
        </div>

    </div>
</section>