<section class="w-full bg-[#1F2A44] py-2.5">

        <div class="mx-auto flex items-center justify-evenly md:justify-center gap-2 lg:gap-[30px] text-white text-sm">

            <!-- Slider Text -->
            <div class="relative h-[32px] overflow-hidden">

                <div class="flex flex-col animate-slide">

                    <p
                        class="text-2xl h-[32px] leading-[32px] items-center font-bold font-darker">
                        📖 “Your word is a lamp to my feet and a light to my path.”</p>
                    <p
                        class="text-2xl h-[32px] leading-[32px] items-center font-bold font-darker">
                        📖 “Your word is a lamp to my feet and a light to my path.”</p>
                    <p
                        class="text-2xl h-[32px] leading-[32px] items-center font-bold font-darker">
                        📖 “Your word is a lamp to my feet and a light to my path.”</p>

                </div>

            </div>

            <!-- Button -->
            <a href="#"
                class="bg-transparent px-[5px] py-[6px] text-[#C9A227] border-b border-[#C9A227]">
                Read Now
            </a>

        </div>

    </section>