<section class="bg-[#F7F4EF] px-4 sm:px-6 md:px-8 lg:px-12 xl:px-20  py-10 xl:py-20 relative">
    <div class="relative">
        <h1 class="font-darker text-2xl md:text-[35px] lg:text-[55px] font-bold leading-relaxed text-[#1F2A44] text-center">
            Contact Information
        </h1>
        <p class="mb-3 text-sm md:text-base leading-relaxed text-[#1F2A44] lg:text-xl text-center">
       You can reach us through the contact form below or use the information provided here.        
      </p>
    </div>
    <div class="max-w-[1440px] mx-auto mt-6">
        <div class="grid grid-cols-1 md:grid-cols-3 gap-6">
            <div class="px-5 py-5 md:pt-[50px] md:pb-0 md:mb-[50px] bg-white rounded-[20px] shadow-[0px_4px_44px_0px_#0000000D]">
                <p class="text-sm lg:text-lg xl:text-[25px] leading-snug font-darker font-bold text-center text-[#1F2A44]">
                    Prefer Email? You Can<br />Also Reach Us At:
                </p>
                <p class=" mt-[29px] tex-sm xl:text-[25px] leading-snug font-medium text-center text-[#C9A227] underline">
                    johat1o153@yahoo.com
                </p>
            </div>
            <div class="px-5 py-5 md:py-[50px] bg-white rounded-[20px] shadow-[0px_4px_44px_0px_#0000000D]">
                <p class="text-sm lg:text-lg xl:text-[25px] leading-snug font-darker font-bold text-center text-[#1F2A44]">
                    Prefer Personal meetup? You Can<br class="hidden xl:block"/>Also Reach Us At:
                </p>
                <p class=" mt-[29px] tex-sm xl:text-[25px] leading-snug font-medium text-center text-[#C9A227] underline">
                    3975 Pulverwoods Rd,<br/> Williamsburg, MI 49690, USA
                </p>
            </div>
            <div class="px-5 py-5 md:pt-[50px] md:pb-0 md:mb-[50px] bg-white rounded-[20px] shadow-[0px_4px_44px_0px_#0000000D]">
                <p class="text-sm lg:text-lg xl:text-[25px] leading-snug font-darker font-bold text-center text-[#1F2A44]">
                    Want to have personal chat? You Can<br class="hidden xl:block"/>Also Call Us At:
                </p>
                <p class=" mt-[29px] tex-sm xl:text-[25px] leading-snug font-medium text-center text-[#C9A227] underline">
                    2314596853
                </p>
            </div>
        </div>
    </div>
</section>