<section class="relative h-[440px] lg:h-[579px] w-full overflow-hidden bg-slate-900">
  <!-- Background image and overlay -->
  <div class="absolute inset-0 z-0">
    <img src="/images/con-banner.png" alt="contact Background" class="h-full w-full object-cover object-right" />
    <div class="absolute inset-0 bg-black/30"></div>
  </div>

  <!-- Content -->
  <div class="relative z-10 mx-auto flex h-full max-w-[1440px] h-[440px] lg:h-[579px] flex-col justify-center px-4 sm:px-6 md:px-8 lg:px-12 xl:px-20 ">
    <div class=" md:pt-20 max-w-4xl">
      <h1 class="font-darker text-[35px] md:text-[55px] font-bold leading-relaxed text-white lg:text-[75px]">
        Get in Touch
      </h1>

      <p class="mt-2 text-sm md:text-base leading-relaxed text-white/90 lg:text-xl">
        We would love to hear from you. Whether you have a question,<br class="hidden md:block"/> feedback, or a prayer request, feel free to reach out to us.
        
      </p>
      <p class="mt-3 text-xs md:text-sm  leading-relaxed text-white/90 font-regular">       
        At PSITPOPS, our goal is to encourage and support readers in their faith journey.<br class="hidden md:block"/> If you would like to contact us, share your thoughts, or request prayer, please<br class="hidden md:block"/> send us a message using the form below.
      </p>
    </div>
  </div>
</section>