<section
  class="bg-[#F2EFEA] px-4 sm:px-6 md:px-8 lg:px-12 xl:px-20 py-10 xl:py-20 relative"
>
  <div
    class="relative max-w-[1440px] mx-auto grid grid-cols-1 lg:grid-cols-2 gap-6"
  >
    <div class="relative flex flex-col gap-[10px]">
      <img src="/images/con-img.png" alt="" class="w-full h-full" />
      <h1
        class="font-darker text-[35px] md:text-[55px] font-bold leading-tight text-[#1F2A44] lg:text-[75px] text-[#1F2A44]"
      >
        Send Us a Message
      </h1>
      <p class="text-sm md:text-base leading-relaxed text-[#1F2A44] lg:text-xl">
        Have a question, suggestion, or message for us? Fill out the form <br />
        below and we will get back to you soon.
      </p>
    </div>
    <div class="relative">
      <form
        id="contactForm"
        action="https://formsubmit.co/sugam.ahaansoftware@gmail.com"
        method="POST"
        class="bg-[#F7F4EF] text-[#1F2A44] p-[20px] rounded-[20px] w-full max-w-[900px] shadow-[0_4px_44px_#0000001A]"
      > 
        <!-- REQUIRED hidden fields -->
         <input type="hidden" name="_next" value="https://psitpops.vercel.app/">
        <input type="hidden" name="_captcha" value="false" />
        <input type="hidden" name="_template" value="table" />
        <input
          type="hidden"
          name="_subject"
          value="New Contact Form Submission"
        />

        <div class="grid grid-cols-1 md:grid-cols-2 gap-[15px]">
          <!-- First Name -->
          <div class="flex flex-col gap-[8px]">
            <label class="font-medium xl:text-xl"
              >First Name<span class="text-[#C9A227]">*</span></label
            >
            <input
              id="firstname"
              name="firstname"
              type="text"
              placeholder="Your Name"
              class="border border-[#1F2A44] rounded-[11px] px-2.5 py-[12px] bg-transparent outline-none"
            />
            <p
              id="fnameError"
              class="text-red-500 text-lg font-darker font-medium"
            ></p>
          </div>

          <!-- Last Name -->
          <div class="flex flex-col gap-[8px]">
            <label class="font-medium xl:text-xl"
              >Last Name<span class="text-[#C9A227]">*</span></label
            >
            <input
              id="lastname"
              name="lastname"
              type="text"
              autocomplete="off"
              placeholder="Your Name"
              class="border border-[#1F2A44] rounded-[11px] px-2.5 py-[12px] bg-transparent outline-none"
            />
            <p
              id="lnameError"
              class="text-red-500 text-lg font-darker font-medium"
            ></p>
          </div>

          <!-- Email -->
          <div class="flex flex-col gap-[8px]">
            <label class="font-medium xl:text-xl"
              >Email Address<span class="text-[#C9A227]">*</span></label
            >
            <input
              id="email"
              name="email"
              type="email"
              autocomplete="off"
              placeholder="Your Email"
              class="border border-[#1F2A44] rounded-[11px] px-2.5 py-[12px] bg-transparent outline-none"
            />
            <p
              id="emailError"
              class="text-red-500 text-lg font-darker font-medium"
            ></p>
          </div>

          <!-- Phone -->
          <div class="flex flex-col gap-[8px]">
            <label class="font-medium xl:text-xl"
              >Phone Number<span class="text-[#C9A227]">*</span></label
            >
            <input
              id="phone"
              name="phone"
              type="tel"
              placeholder="Your Phone"
              autocomplete="off"
              inputmode="numeric"
              maxlength="16"
              class="border border-[#1F2A44] rounded-[11px] px-2.5 py-[12px] bg-transparent outline-none"
            />
            <p
              id="phoneError"
              class="text-red-500 text-lg font-darker font-medium"
            ></p>
          </div>

          <!-- Interest -->
          <div class="flex flex-col gap-[8px] md:col-span-2">
            <label class="font-medium xl:text-xl"
              >Interest<span class="text-[#C9A227]">*</span></label
            >

            <select
              id="select"
              name="interest"
              class="border border-[#1F2A44] rounded-[11px] px-2.5 py-[12px] bg-transparent outline-none"
            >
              <option value="">-------- Select --------</option>
              <option>Prayer</option>
              <option>Faith</option>
              <option>Bible Study</option>
              <option>Christian Living</option>
            </select>
            <p
              id="selectError"
              class="text-red-500 text-lg font-darker font-medium"
            ></p>
          </div>

          <!-- Message -->
          <div class="flex flex-col gap-[8px] md:col-span-2">
            <label class="font-medium xl:text-xl">Message</label>

            <textarea
              name="message"
              rows="5"
              placeholder="Tell Us Something...."
              class="border border-[#1F2A44] rounded-[11px] px-2.5 pt-2.5 bg-transparent outline-none resize-none"
            ></textarea>
          </div>
          <p
            id="captchaError"
            class="text-red-500 text-lg font-darker font-medium"
          ></p>

          <!-- CAPTCHA -->
          <!-- CAPTCHA -->
          <div
            id="captchaWrapper"
            class="hidden flex flex-col gap-[8px] md:col-span-2"
          >
            <label class="font-medium xl:text-xl">
              Captcha: <span id="captchaQuestion"></span>
            </label>

            <input
              id="captchaInput"
              type="text" name="captcha"
              placeholder="Your Answer"
              class="border border-[#1F2A44] rounded-[11px] px-2.5 py-[12px] bg-transparent outline-none"
            />
          </div>

          <!-- Button -->
          <div class="md:col-span-2">
            <button
              type="submit"
              class="cursor-pointer w-full bg-[#C9A227] text-white border border-transparent font-semibold py-4 rounded-[10px] hover:bg-transparent hover:border-[#C9A227] hover:text-[#C9A227]"
            >
              Submit
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>
