<section class="py-[60px] max-w-[1440px] px-4 sm:px-6 md:px-8 lg:px-12 xl:px-20 mx-auto">
  <div class=" relative  grid lg:grid-cols-12 gap-6">
    <div class="lg:col-span-8">
      <img id="blogImage" class="rounded-4xl shadow-lg mb-6 w-full" />
      <!-- Author + Date -->
      <div
        id="blogMeta"
        class="flex items-center gap-6 text-[#b9973e] mb-4 text-sm border-b border-[#C9A227] pb-[13px]"
      ></div>

      <h1
        id="blogTitle"
        class="text-2xl md:text-[55px] font-extrabold text-[#1F2A44] mb-6 font-darker"
      ></h1>

      <div id="blogContent" class="prose max-w-none"></div>

      <!-- Share Section -->
      <div
        class="mt-5 border-t border-b border-[#1F2A44] py-5 px-5 flex items-center justify-end"
      >
        <!-- Right Side Group -->
        <div class="flex items-center gap-[9px]">
          <!-- Text -->
          <span class="text-xl text-[#1F2A44] mr-5">Share On -</span>

          <!-- Facebook -->
          <a
            href="https://www.facebook.com/johat1953"
            target="_blank"
            class="text-decoration-none cursor-pointer w-9 h-9 flex items-center justify-center rounded-full bg-[#F7F4EF] border border-[#1F2A44] hover:bg-[#C9A227] hover:text-white hover:border-[#C9A227] transition"
          >
            <i class="fab fa-facebook-f text-sm"></i>
          </a>

          <!-- X -->
          <a
            href="https://x.com/JohatEnter3002"
            target="_blank"
            class="text-decoration-none cursor-pointer w-9 h-9 flex items-center justify-center rounded-full bg-[#F7F4EF] border border-[#1F2A44] hover:bg-[#C9A227] hover:text-white hover:border-[#C9A227] transition"
          >
            <i class="fab fa-x-twitter text-sm"></i>
          </a>

          <!-- Instagram -->
          <a
            href="https://www.instagram.com/accounts/login/?next=%2Fjohatenterprises%2F&source=omni_redirect"
            target="_blank"
            class="text-decoration-none cursor-pointer w-9 h-9 flex items-center justify-center rounded-full bg-[#F7F4EF] border border-[#1F2A44] hover:bg-[#C9A227] hover:text-white hover:border-[#C9A227] transition"
          >
            <i class="fab fa-instagram text-sm"></i>
          </a>

          <a
            href="https://www.linkedin.com/in/james-taylor-69b20544/"
            target="_blank"
            class="text-decoration-none cursor-pointer w-9 h-9 flex items-center justify-center rounded-full bg-[#F7F4EF] border border-[#1F2A44] hover:bg-[#C9A227] hover:text-white hover:border-[#C9A227] transition"
          >
            <i class="fa-brands fa-linkedin-in"></i>
          </a>
        </div>
      </div>
    </div>

    <div id="blogSidebar" class="lg:col-span-4"></div>
  </div>

  <div id="relatedBlogs"></div>
</section>
